{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComa": "all",
  "bracketSpacing": true,
  "semi": true,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "useTabs": true
}
